<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cube Viewer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

        <!-- Le styles -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
            padding-top: 10px;
            padding-bottom: 10px;
            }
            .sidebar-nav {
            padding: 9px 0;
            }
            .hidden {
              display: none;
            }
            .table-hover tbody tr:hover td {
              background-color: #f9f9f9;
              cursor: pointer;
            }
            tr.highlight td {
              background-color: #B94A48;
            }

            tr td.measure {
              text-align: right;
            }

        </style>

    </head>

    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span*" id="aggregate-panel">
                    <div class="btn-toolbar">
                    </div>
                    <div id="aggregate-table">
                    </div>
                    <div id="details-table">
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span*" id="filter-panel">
                    <div class="control-group">
                    </div>
                    <div id="filter-table">
                    </div>
                </div>
            </div>
        </div>
     <!--
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
     -->
     <script src="js/jquery.min.js"></script>
    <script src="js/json2.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/bootstrap-modal.js"></script>
  <script src="js/cube.js"></script>

     <script type="text/javascript">
          $(document).ready(function(){
            cube.initialize();
          });
     </script>
    <script type="text/template" id="source-template">
        <span><%= name %> </span>
        <a class="btn aggregate">Aggregate</a>
        <a class="btn filter">Filter</a>
    </script>

    <script type="text/template" id="aggregate-toolbar">
            <b>Aggregates of source <%= name %></b>
            <div class="btn-group">
            </div>
    </script>
    <script type="text/template" id="filter-toolbar">
            <b>Filter source <%= name %></b>
            <div class="btn-group">
            </div>
    </script>
    <script type="text/template" id="aggregate-button">
        <a class="btn"><%= fields.length > 0 ? fields.join(", ") : " - " %></a>
    </script>
    <script type="text/template" id="filter-widget">
        <%= name %>
        <select multiple="multiple" size="5" name="<%= code %>">
            <% _.each(values , function(val) { %>
            <option><%= val %></option>
            <% }) %>
        </select>
    </script>
    <script type="text/template" id="table-header">
        <thead>
            <tr>
                <% _.each(header , function(title) { %>
                <th><%= title %></th>
                <% }) %>
            </tr>
        </thead>
    </script>
    <script type="text/template" id="export-modal">
        <div class="modal hide"
             style="position: relative; top: auto; left: auto; margin: 0 auto 20px; max-width: 100%;">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close">&times;</button>
                <h3>Export Data</h3>
            </div>
            <div class="modal-body">
                <p>Describe Dataset</p>
                <p>Choose a format :</p>
                <select>
                    <option value="txt">Text File</option>
                    <option value="xls">Excel</option>
                </select>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn">Close</a>
                <a class="btn btn-primary">Export</a>
            </div>
        </div>
    </script>
    <div id="modal"></div>
    <script type="text/template" id="result-table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                <% _.each(header , function(title) { %>
                    <th><%= title %></th>
                <% }) %>
                </tr>
            </thead>
            <tbody>
                <% _.each(rows , function(row) { %>
                <tr>
                  <% _.each(row , function(value) { %>
                    <td><%= value %></td>
                <% }) %>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </script>
    </body>
</html>
